html, body {
    height: 500px;
}

img{
    mix-blend-mode: multiply;
}

.logo-background {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pic037.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
